/* Add here all your css styles (customizations) */

body {
    padding-top: 50px;
}

.top-nav {
    background-color: #6bb274;
    border-color: #6bb274;
    margin-bottom: 0;
}

.top-nav .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #34673b;
    color: #fff;
}

.top-nav .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.top-nav .navbar-collapse, .top-nav .navbar-form {
    border-color: #f9bd1c;
}

.top-nav .navbar-toggle {
    border-color: #e2a500;
}

.header-1 {
    padding-bottom: 0;
    background-color: #fdfadb;
}

.header-1 p {
    margin: 0;
}

.header-1 p strong {
    color: #ec5a7d;
}

.header-1 .slogan {
    margin-top: 21px;
}

.header-1 .btn-u.btn-u-sea {
    background: #6bb274 none repeat scroll 0 0;
}

.header-1 .btn-u.btn-u-sea:hover,
.btn-u.btn-u-sea:focus,
.btn-u.btn-u-sea:active,
.btn-u.btn-u-sea.active,
.open .dropdown-toggle.btn-u.btn-u-sea {
    background: #34673b none repeat scroll 0 0;
}

.height-140 { min-height: 140px;}

.header {
    border-top: 2px solid #eee;
}

.header > .container {
    margin-bottom: 0;
}

.caption hr {
    margin: 15px 0;
}

.caption p.lead{
    font-size: 18px;
    font-weight: bold;
    color: #e91154;
}

.caption .btn-u.btn-u-orange {
    background: #e91154 none repeat scroll 0 0;
}

.caption .btn-u.btn-u-orange:hover, .caption .btn-u.btn-u-orange:focus, .caption .btn-u.btn-u-orange:active, .caption .btn-u.btn-u-orange.active, .caption .open .dropdown-toggle.btn-u.btn-u-orange {
    background: #c61048 none repeat scroll 0 0;
}

.product-desc .btn-u.btn-u-orange {
    background: #e91154 none repeat scroll 0 0;
}

.product-desc .btn-u.btn-u-orange:hover, .caption .btn-u.btn-u-orange:focus, .caption .btn-u.btn-u-orange:active, .caption .btn-u.btn-u-orange.active, .caption .open .dropdown-toggle.btn-u.btn-u-orange {
    background: #c61048 none repeat scroll 0 0;
}

.product-desc hr {
    margin: 15px 0;
}

.margin-top-12 {
    margin-top: 12px;
}

#topcontrol {
    background: #6bb274 none repeat scroll 0 0;
    height: 40px;
    width: 40px;
    bottom: 100px !important;
}

#topcontrol::after {
    left: 13.5px;
    top: 2px;
}